
{% extends 'base.html' %}

{% block title %}change password{% endblock %}

{% load crispy_forms_tags %}


  

 <!--CONTENTS-->
 {% block content %}
 <div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="card" style="height: auto; padding: 1rem;">
            <div class="card-header">
                <h4 class="card-title">Change Password</h4>
                <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                <div class="heading-elements">
                    <ul class="list-inline mb-0">
                        <li><a href="{%url 'dashboard:dashboard'%}">
                            <button type="button" class="btn btn-glow btn-round btn-bg-gradient-x-red-pink">Back to Dashboard</button>
                        </a></li>
                    </ul>
                </div>
            </div>
            <div class="card-content collapse show">
                <div class="card-body">
                    <section class="row" style = "height:2rem" >
                        <section class="col col-sm-8 offset-sm-2">
                            
                            {% if messages %}
                            {% for message in messages %}
                            <div {% if message.tags %} class="{{ message.tags}}" {% endif %} id="message-container">
                                <h4 style="color: white;">{{ message }}</h4>
                                <button type="button" class="close" id="override-start" data-dismiss="alert"
                                    aria-label="Close"><span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            {% endfor %}
                            {% endif %}
                
                        </section>
                    </section>
                    <form action="{% url 'dashboard:createleave' %}" method="POST">
                        {% csrf_token %}
                        {{ form | crispy }}
                        <button type="submit" class="btn btn-primary btn-lg btn-block">Change Paasword</button>
                    </form>
                </div>
            </div>
        </div>
  </div>
 </div>

 
 
 {% endblock %}
